.brushWidthContainer {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: end;
}

.brushWidthContainer i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.brushWidthContainer input[type=file] {
    display: none;
}

.brushWidthContainer span {
    width: 130px;
}

.range {
    flex-grow: 1;
    display: inline-block;
    margin-left: 10px;
}

.number {
    width: 60px;
    margin-left: 10px;
}

.paintContainer {
    max-width: 865px;
    max-height: 615px;
    overflow: auto;
}

.paintContainerSmall {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.modal :global .modal-dialog {
    width: 900px;
}

.modalSmall :global .modal-dialog {
    width: 100%;
}

.iconClose {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
}

.iconClose:hover {
    opacity: 0.8;
    background-color: #ccc;
    border-radius: 5px;
}

.modalTitle {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 24px;
}

.actions {
    display: flex;
    justify-content: end;
}
